@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html,
body,
main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Space Mono', monospace;
    padding: 10px;
}

* {
    box-sizing: border-box;
}

div.level {
    height: 80vh;
    margin: max(10vh, 4.5rem) 0;
}

a.nav-link {
    color: white;
}

h1.title {
    font-size: 5vh;
    font-weight: bolder;
}

p.links {
    font-size: 2vh;
}

.linkimages {
    height: 2vh;
}