@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html,
body,
main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(25, 25, 25);
    color: whitesmoke;
}

body {
    font-family: 'Space Mono', monospace;
    padding: 10px;
}

* {
    box-sizing: border-box;
}

div.level {
    height: 80vh;
    margin: max(10vh, 4.5rem) 0;
}

a.nav-link {
    color: whitesmoke;
}

a:hover {
    text-decoration: none;
}

h1.title {
    font-size: 5vh;
    font-weight: bolder;
}

p.links {
    font-size: 2vh;
}

.linkimages {
    height: 2vh;
}

.nav-pills .nav-link.active {
    background-color: goldenrod;
    color: rgb(52, 58, 64);
}

.navbar-dark {
    background-color: rgb(32, 32, 32) !important;
}